In [1]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]

In [8]:
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependent=dataset[['charges']]

In [10]:
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid={'criterion':['mse','mae','friedman_mse','poisson'],'max_features':['auto','sqrt','log2'],'n_estimators':[10,50,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 36 candidates, totalling 180 fits

C:\Users\new\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse', 'poisson'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 50, 100]},
             verbose=3)

In [12]:
re=grid.cv_results_

In [13]:
print("The R_Score value for best parameter{}:".format(grid.best_params_))

The R_Score value for best parameter{'criterion': 'friedman_mse', 'max_features': 'log2', 'n_estimators': 100}:

In [14]:
table=pd.DataFrame.from_dict(re)

In [15]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.057289,0.010241,0.009374,7.654188e-03,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.833491,0.759036,0.841081,0.818574,0.836834,0.817803,0.030346,23
1,0.175379,0.006387,0.009504,7.763227e-03,mse,auto,50,"{'criterion': 'mse', 'max_features': 'auto', '...",0.844777,0.773891,0.857793,0.819512,0.833916,0.825978,0.028926,15
2,0.319112,0.007606,0.015625,1.728494e-06,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.842874,0.773696,0.855781,0.820496,0.834699,0.825509,0.028327,16
3,0.034372,0.006250,0.003125,6.250572e-03,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.849181,0.761591,0.828190,0.812181,0.818638,0.813956,0.029019,25
4,0.124989,0.009880,0.015622,2.251762e-06,mse,sqrt,50,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.859025,0.774126,0.861928,0.825253,0.837846,0.831636,0.031795,9
5,0.251496,0.009881,0.017799,4.347587e-03,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.858380,0.778824,0.857300,0.827297,0.839530,0.832266,0.029128,5
6,0.038406,0.008170,0.009376,7.655551e-03,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.835815,0.756683,0.840829,0.802038,0.821755,0.811424,0.030499,27
7,0.129341,0.005330,0.015623,3.055481e-06,mse,log2,50,"{'criterion': 'mse', 'max_features': 'log2', '...",0.856122,0.781622,0.858052,0.827648,0.836928,0.832074,0.027719,7
8,0.233811,0.006079,0.015625,2.980137e-06,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.858093,0.777096,0.857793,0.828568,0.842060,0.832722,0.029903,3
9,0.230444,0.005576,0.006251,7.656174e-03,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.836386,0.763244,0.834821,0.812016,0.815152,0.812324,0.026465,26
10,1.091843,0.007763,0.012499,6.249523e-03,mae,auto,50,"{'criterion': 'mae', 'max_features': 'auto', '...",0.836941,0.767104,0.846817,0.821592,0.832217,0.820934,0.028112,19
11,2.186015,0.011012,0.015623,1.261593e-06,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.841253,0.768348,0.850108,0.822002,0.835831,0.823508,0.029049,17
12,0.137486,0.006250,0.006250,7.654305e-03,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.831910,0.775863,0.825448,0.819117,0.843192,0.819106,0.023040,20
13,0.629386,0.013662,0.012499,6.249619e-03,mae,sqrt,50,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.857544,0.778317,0.850116,0.816861,0.845944,0.829757,0.029192,12
14,1.260787,0.011643,0.015623,1.144409e-06,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.852553,0.779789,0.855951,0.830494,0.842167,0.832191,0.027668,6
15,0.131237,0.007655,0.006250,7.654188e-03,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.839934,0.754938,0.839303,0.823970,0.834853,0.818600,0.032341,21
16,0.636710,0.012499,0.006249,7.653896e-03,mae,log2,50,"{'criterion': 'mae', 'max_features': 'log2', '...",0.858488,0.777449,0.854039,0.824739,0.844028,0.831748,0.029530,8
17,1.276437,0.023948,0.025909,6.692567e-03,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.856066,0.775834,0.855679,0.825354,0.842677,0.831122,0.029829,10
18,0.034371,0.006250,0.006249,7.653955e-03,friedman_mse,auto,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.842626,0.772870,0.848665,0.801617,0.823603,0.817876,0.027868,22
19,0.143736,0.006250,0.012499,6.249595e-03,friedman_mse,auto,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.850427,0.774185,0.855267,0.818817,0.832943,0.826328,0.029111,14
20,0.284109,0.013066,0.015625,4.300532e-06,friedman_mse,auto,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.851013,0.772810,0.857214,0.818894,0.837743,0.827535,0.030350,13
21,0.028121,0.006251,0.006250,7.654889e-03,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.831129,0.778388,0.835559,0.831460,0.801642,0.815636,0.022229,24
22,0.114315,0.007823,0.015625,2.401291e-06,friedman_mse,sqrt,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.854244,0.779196,0.854611,0.831216,0.833200,0.830493,0.027514,11
23,0.231109,0.006534,0.022003,7.818801e-03,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.855120,0.778499,0.860368,0.827967,0.839981,0.832387,0.029261,4
24,0.034371,0.006248,0.006249,7.653604e-03,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.850279,0.770847,0.852576,0.816445,0.822898,0.822609,0.029601,18
25,0.122519,0.006249,0.012499,6.249475e-03,friedman_mse,log2,50,"{'criterion': 'friedman_mse', 'max_features': ...",0.856928,0.781297,0.865091,0.827487,0.838685,0.833898,0.029442,2
26,0.231228,0.011691,0.018749,6.248689e-03,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.858122,0.778606,0.860862,0.830236,0.843635,0.834292,0.029928,1
27,0.065619,0.006249,0.006249,7.653955e-03,poisson,auto,10,"{'criterion': 'poisson', 'max_features': 'auto...",0.815387,0.747562,0.817178,0.812358,0.777882,0.794074,0.027378,30
28,0.272743,0.015307,0.009374,7.654033e-03,poisson,auto,50,"{'criterion': 'poisson', 'max_features': 'auto...",0.819461,0.750795,0.810463,0.827412,0.798024,0.801231,0.027045,29
29,0.536735,0.011203,0.015624,6.217196e-07,poisson,auto,100,"{'criterion': 'poisson', 'max_features': 'auto...",0.821736,0.753622,0.823593,0.831900,0.794562,0.805083,0.028629,28
30,0.037496,0.007653,0.000000,0.000000e+00,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.767352,0.689196,0.798178,0.750276,0.737044,0.748409,0.035985,36
31,0.162485,0.007653,0.015623,1.059824e-06,poisson,sqrt,50,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.816341,0.721855,0.828622,0.794343,0.779610,0.788154,0.037253,31
32,0.331217,0.011690,0.021879,7.649212e-03,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.808679,0.726797,0.824213,0.790434,0.777768,0.785578,0.033365,32
33,0.040622,0.007654,0.006249,7.653079e-03,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.776065,0.689358,0.792985,0.789565,0.737577,0.757110,0.039170,35
34,0.173929,0.004140,0.012499,6.249380e-03,poisson,log2,50,"{'criterion': 'poisson', 'max_features': 'log2...",0.810257,0.721517,0.814925,0.791565,0.777585,0.783170,0.033600,34
35,0.275990,0.031247,0.006249,7.653779e-03,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.804769,0.721083,0.819564,0.791119,0.784015,0.784110,0.033780,33

In [16]:
best_r2_score=grid.best_score_

In [17]:
best_r2_score

0.8342920841750171

In [18]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
childran_input=float(input("childran:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age:32
BMI:43
childran:2
sex male 0 or 1:0
smoker yes 0 or 1:1

In [19]:
Future_Prediction=grid.predict([[age_input,bmi_input,childran_input,sex_male_input,smoker_yes_input]])
print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[44511.6149777]

C:\Users\new\Anaconda3\lib\site-packages\sklearn\base.py:442: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"